body{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.heading{
    width: 80%;
    font-size: 22px;
}

#cam{
     border: 2px dashed rgb(0, 0, 0);
    width: 350px ;
    height: 350px ;
}

.name_of_objects , #result_object_name , #result_object_accuracy{
    color: red;

}